<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout.html :: head-line"></head>
<body class="sb-nav-fixed">
    <nav th:replace="Layout.html :: top-nav"></nav>

    <div>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>안녕하세요 상세 입니다.</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <hr>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-1" scope="col"></th>
                            <th class="col-md-6" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">글 제목</th>
                            <td>
                                <span th:text="${boards.title}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">글 작성자</th>
                            <td>
                                <span th:text="${boards.memberId.nickname}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">글 내용</th>
                            <td>
                                <span th:text="${boards.content}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">글 조회수</th>
                            <td>
                                <span th:text="${boards.view}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">글 작성날짜</th>
                            <td>
                                <span th:text="${boards.createDate}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script>
function boardViewer(value) {
    location.href = "/board/notice/"+value;
}
</script>
</html>